@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.material-symbols-outlined.md-200{
    font-size: 150px;
    margin-right: 20px;
    color: red
}

.material-symbols-outlined.md-201{
    font-size: 150px;
    margin-right: 20px;
    color: orange;
}

.bg-shadow {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 1000px #000;
}

.text-primary {
    color: #666666;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}

.card:first-child {
    border-left: 7px solid #246dec;
}

.card:nth-child(2) {
    border-left: 7px solid #367952;
}

.card:nth-child(3) {
    border-left: 7px solid #f5b74f;
}

.card:nth-child(4) {
    border-left: 7px solid #cc3c43;
}

.card > span {
    font-size: 40px;
    font-weight: 600;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > p {
    font-size: 36px;
}

.card-inner > span {
    font-size: 70px;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/backgrounds/fondo_tec.png");
}

.dashboard-body {
    background-image: url("../assets/backgrounds/fondo_lab_1.png");
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px;
}
  
.logo-login {
    width: 400px;
    flex: 1;
}

.logo-alumno {
    max-width: 100%; 
    height: auto; 
    width: 800px;
}

.powerbi {
    max-width: 100%; 
    height: auto; 
    width: 100%;
}


.btn-start {
    max-width: 100%; 
    height: auto; 
    width: 400px;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-start:hover {
    transform: scale(1.1);
}

.login {
    height: min-content;
    padding: 40px;
    border-radius: 15px;
    background-color: #f3f2ef;
    box-shadow: 0px 10px 20px;
    flex: 1;
}
  
.login h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.login form {
    font-size: 20px;
}

.login form p {
    font-size: 14px;
}

.login form .form-group {
    margin-bottom: 20px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.header {
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    padding: 10px;
    display: flex;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 530px;
    overflow: hidden;
    position: relative;
}

.hamburger {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 10px;
    padding-top: 5px;
    color: black;
    font-weight: 100;
    visibility: hidden;
    text-align: left;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 530px;
    min-width: 530px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px #000;
    color: black;
    overflow: overlay;
    z-index: 3;
    transition: 0.3s ease;
}

.menu-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 10px;
}

.close-menu {
    flex-grow: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    top: 0;
    left: 0;
    font-size: 10px;
    padding-top: 5px;
    font-weight: 100;
    visibility: hidden;
    position: absolute;
}

.menu-options-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-option {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    color: black;
    background-color: #FFFFFF;
    padding: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.menu-footer {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: auto;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 30px #9e9e9e;
    transition: 0.3s ease;
}

.menu-footer:hover {
    background-color: #DFDFDF;
}

.menu-option-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.menu-option:hover {
    background-color: #DFDFDF;
}

.menu-option.selected {
    background-color: #DFDFDF;
}

.user-name {
    font-size: 32px;
    font-weight: bold;
}

.user-id {
    font-size: 20px;
    font-weight: normal;
}

.image-scale-hover {
    object-fit: cover;
    transition: 0.5s ease;
}

.image-scale-hover:hover {
    transform: scale(1.05);
}

.content-area-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    margin-top: 15px;
    padding: 20px;
    right: 10000px;
}

.content-area-container.active {
    visibility: visible;
    opacity: 1;
    position: relative;
    right: 0px;
}

.certificado {
    max-width: 90%; 
    height: auto;
    visibility: hidden;
}

.separator {
    width: 450px;
    background-color: #ececec;
    height: 1px;
}

.progress {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.progress-bar-back {
    overflow: hidden;
    background-color: #C1C1C1;
    border-radius: 20px;
    height: 10px;
}

.progress-bar {
    height: 100%;
    width: 70%;
    background-color: #04C900;
}

.alumnos-container {
    width: 100%;
    padding: 60px;
    overflow-y: scroll;
}

.alumno {
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 25px;
    box-shadow: 5px 7px 30px #000;
    cursor: pointer;
}

.tab-title {
    color: white; 
    text-align: left; 
    width: 100%; 
    padding-left: 75px; 
    text-shadow: 2px 6px 10px #000; 
    margin-top: 10px;
}

/* Modal */
.modal  {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    z-index: 10;
    color: black;
    background-color: #D9D9D9;
    width: 900px;
    max-width: 80%;
    transition: 0.3s ease;
    overflow: hidden;
}

.modal.active {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}

.modal-header {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 20px;
}

#overlay {
    z-index: 9;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 0.1s ease;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.info-alumno {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    margin-bottom: 20px;
}

.info-title {
    font-size: 24px;
}

.minijuegos-list {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    overflow-y: scroll;
    height: 150px;
    padding: 10px;
}

.minijuego {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CBCBCB;
    padding: 12px 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #000;
}

.certificado-btn {
    padding: 12px 50px;
    background-color: #CBCBCB;
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 30px #888888;
    cursor: pointer;
    transition: 0.3s ease;
}

.download-btn {
    padding: 12px 15px;
    border-radius: 100px;
    border: none;
    background-color: #CBCBCB;
    box-shadow: 2px 2px 30px #888888;
    cursor: pointer;
    transition: 0.3s ease;
}

.close-modal-btn {
    flex-grow: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    top: 0;
    left: 0;
    font-size: 10px;
    padding-top: 5px;
    font-weight: 100;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-logo {
    position: absolute;
    z-index: 2;
    width: 500px;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.team-container {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.list-group {
    margin-bottom: 20px;
}

.list-group-item {
  background-color: #fff;
  border: none;
  border-radius: 0;
}

/* Loader */
.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
    left: 150px;
    top: 26px;
}
  
@keyframes flash {
    0% {
        background-color: #FFF2;
        box-shadow: 32px 0 #FFF2, -32px 0 #777777;
    }
    50% {
        background-color: #777777;
        box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }
    100% {
        background-color: #FFF2;
        box-shadow: 32px 0 #777777, -32px 0 #FFF2;
    }
}
             
@media (max-width: 900px) {
    .login-container {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        top: unset;
        left: unset;
        width: 100%;
        transform: none;
        margin: 0%;
    }

    .login {
        width: 100%;
        height: min-content;
        padding: 40px;
        border-radius: 10px;
        background-color: #f3f2ef;
        box-shadow: 0px 10px 20px;
    }

    .close-menu  {
        visibility: visible;
        position: relative;
    }

    .hamburger {
        visibility: visible;
        position: relative;
    }

    .menu {
        position: absolute;
        left: -570px;
    }

    .menu.active {
        left: 0px !important;
    }
}

/* Scrollbar */
* {
    scrollbar-width: none;
    scrollbar-color: #313030 #202123;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 12px;
}